h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 85px;
  color: hsl(0, 100%, 50%);
}

body {
  background-color: black;
  background-image: url(/imagens/home.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
  margin: 0;
}

.header a {
  float: left;
  color: rgb(189, 3, 3);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
  font-family: Bebas Neue, cursive;
}

.header a.logo {
  font-size: 55px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

main {
  font-family: Bebas Neue, cursive;
  color: rgb(189, 3, 3);
  font-size: 100px;
  display: flex;
}

.container {
  margin: 100px;
  background-color: #000000;
  padding: 10px;
  text-align: center;
  opacity: 80%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-family: Nunito;
 }

h2 {
color: rgba(211, 4, 4, 0.781); 
font-family: Bebas Neue, cursive;
font-size: 45px;
 }

.infos { 
  margin: 90px;
  background-color: #000000;
  padding: 5px;
  text-align: center;
  opacity: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center; 
  border-radius: 45px;
 }

h3 { 
color: white;  
font-family: Bebas Neue, cursive;
font-size: 30px;
}

  .cadastro {
    box-shadow:inset 0px 34px 0px -15px #b54b3a;
    background-color:#a73f2d;
    border:1px solid #241d13;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
  }
  .cadastro:hover {
    background-color:#b34332;
  }
  .cadastro:active {
    position:relative;
    top:1px;
  }


