h1 {
font-family: "Bebas Neue", cursive;
font-size: 85px;
color: hsl(0, 100%, 50%);
}

body {
background-color: black;
background-image: url(../img/salaCinemaUnsplash.jpg);
background-repeat: no-repeat;
background-position-x: center;
background-size: cover;
margin: 0;
}

input, select{
    outline: 0;
    margin: 0 0 10px 0;
    font-family: 'Nunito';
    padding: 6px;
    font-size: 20px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0px 0px 9px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    font-family: Bebas Neue, cursive;
    text-align: center;
    width: 400px;
}

button {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d01b1b 5%, #f00707 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
    margin: 10px 0 100px 0;
}
button:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#ce1616f8;
}
button:active {
	position:relative;
	top:1px;
}

#email{
    text-align: center;
}

#divContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header {
overflow: hidden;
background-color: #000000;
padding: 20px 10px;
margin: 0;
}

.header a {
float: left;
color: rgb(189, 3, 3);
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 20px;
line-height: 25px;
border-radius: 4px;
font-family: Bebas Neue, cursive;
}

.header a.logo {
font-size: 55px;
}

.header a:hover {
background-color: #ddd;
color: black;
}

.header a.active {
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
}

.header-right {
float: right;
}

@media screen and (max-width: 500px) {
.header a {
float: none;
display: block;
text-align: left;
}
.header-right {
float: none;
}
}

main {
font-family: Bebas Neue, cursive;
color: rgb(189, 3, 3);
font-size: 50pt;
display: flex;
}

.container {
margin: 50px;
background-color: #000000;
padding: 10px;
text-align: center;
opacity: 80%;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
border-radius: 45px;
}
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(0, 0, 0);
color: white;
text-align: center;
font-family: Nunito;
margin: 100px 0 0 0
}

h2 {
color: rgba(211, 4, 4, 0.781); 
font-family: Bebas Neue, cursive;
font-size: 45px;
}

.infos { 
margin: 90px;
background-color: #000000;
padding: 5px;
text-align: center;
opacity: 100%;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center; 
border-radius: 45px;
}

h3 { 
color: white;  
font-family: Bebas Neue, cursive;
font-size: 30px;
}

.cadastro {
box-shadow:inset 0px 34px 0px -15px #b54b3a;
background-color:#a73f2d;
border:1px solid #241d13;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:9px 23px;
text-decoration:none;
text-shadow:0px -1px 0px #7a2a1d;
}
.cadastro:hover {
background-color:#b34332;
}
.cadastro:active {
position:relative;
top:1px;
}


@font-face {
font-family: "Bebas Neue";
src: url(../fontes/BebasNeue-Regular.ttf);
}

@font-face {
font-family: 'Nunito';
src: url(../fontes/Nunito-Regular.ttf);
}